<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>

hello {{ name }} !

<br>
<ul>
<li><a href="{{ menulink[0] }}">{{ tab[0] }}</li>
<li><a href="{{ menulink[1] }}">{{ tab[1] }}</li>
<li><a href="{{ menulink[2] }}">{{ tab[2] }}</li>
</ul>


</body>
</html>